@font-face {
    font-family: 'Exo2.0-Thin';
    src: url(../fonts/Exo2.0-Thin.eot);
    src: url(../fonts/Exo2.0-Thin.eot?#iefix) format('embedded-opentype'),
        url(../fonts/Exo2.0-Thin.otf) format('otf'),
        url(../fonts/Exo2.0-Thin.svg#Exo2.0-Thin) format('svg'),
        url(../fonts/Exo2.0-Thin.ttf) format('truetype'),
        url(../fonts/Exo2.0-Thin.woff) format('woff'),
        url(../fonts/Exo2.0-Thin.woff2) format('woff2');
}

@font-face {
    font-family: 'TrebuchetMS';
    src: url(../fonts/TrebuchetMS.eot);
    src: url(../fonts/TrebuchetMS.eot?#iefix) format('embedded-opentype'),
        url(../fonts/TrebuchetMS.otf) format('otf'),
        url(../fonts/TrebuchetMS.svg#TrebuchetMS) format('svg'),
        url(../fonts/TrebuchetMS.ttf) format('truetype'),
        url(../fonts/TrebuchetMS.woff) format('woff'),
        url(../fonts/TrebuchetMS.woff2) format('woff2');
}